<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
		<script src="/static/js/main.js"></script>
	</head>
	<body>
		<h1 class="red">
			<img src="/static/images/python.svg" /> {{title | upper}}
		</h1>
		<a href="/">Pagina Inicial</a><br />
		<a href="/menu/1">Menu 1</a><br />
		<a href="/menu/2">Menu 2</a><br />
		{{body}}
	</body>
</html>
